<div class="item file" data-bind="css: {'selected': selected, 'checked': checked, 'deleted': deleted, 'shared': shared}">
	<div class="item_content">
		<span class="icon"></span>
		<span class="name" data-bind="text: fileName"></span>
		<span class="size" data-bind="text: friendlySize"></span>
		<div class="footer">
			<!-- ko foreach: actions -->
				<a class="button view" href="javascript: void(0)" data-bind="click: function () { $parent.executeAction($data); }, text: $parent.getActionText($data)"></a>
			<!-- /ko -->
		</div>
	</div>
</div>
