<div class="item file ui-droppable dragHandle" data-bind="
	css: {'selected': selected, 'checked': checked, 'deleted': deleted, 'shared': shared},
	event: {'dragstart': eventDragStart}
">
	<div class="item_content">
		<span class="image" data-bind="customTooltip: getTooltip(iconAction()), click: function () { executeAction(iconAction()); }, 
				css: {'has_action': iconAction() !== ''}, clickBubble: iconAction() === ''">
			<!-- ko if: thumbnailSrc() !== '' -->
			<img data-bind="attr: {'src': thumbnailSrc()}" style="height: 32px; vertical-align: middle;"/>
			<!-- /ko -->
			<!-- ko if: thumbnailSrc() === '' -->
			<span class="icon" style="vertical-align: middle;" data-bind="css: extension().toLowerCase()"></span>
			<!-- /ko -->
		</span>
		
		<span class="name" data-bind="text: fileName"></span>
		<span class="size" data-bind="text: friendlySize"></span>
		<span class="size" data-bind="text: sLastModified"></span>
	</div>
</div>
