<div id="files_right_panel" class="panel_center" style="width: 640px; border-left: 1px solid #eee;" data-bind="visible: enablePreviewPane">
	<div class="panel_top" style="height: 52px; border-bottom: 0px;">
		<h2 data-bind="text: displayName()"></h2>
	</div>
	<div class="panel_center">
		<form action="?/Api/" method="post" id="view_form" target="view_iframe" style="display: none;">
			<input type="hidden" name="Format" value="Raw">
			<input type="submit" value="submit">
		</form>
		<iframe id="view_iframe" name="view_iframe" style="width: 100%; height: 100%; border: none;" src=""></iframe>
	</div>
	<div class="panel_center"></div>
</div>