.files-list.items_sub_list {
	float: left;
	width: 100%;
	
	.item {
		cursor: default !important;
		display: block !important;
		height: auto !important;
		max-height: none !important;
		max-width: none !important;
		width: 100% !important;
		padding: 10px !important;
		margin: 0px !important;
		
		&.selected {
			background: #ebf7cb !important;
			color: #000 !important;		
		}
	}
}
	
.file-preview {
	float: right;
	background: grey;
	padding: 40px;
}
