.files-list.items_sub_list {
	float: left;
	width: 100%;
	padding: 0px !important;
	
	.item {
		cursor: default !important;
		display: block !important;
		height: auto !important;
		max-height: none !important;
		max-width: none !important;
		width: 100% !important;
		margin: 0px !important;
		padding: 0px;
		text-align: left !important;

		&.folder2 {
			.icon {
				background: url("../../images/sprites.png");
				background-position: -440px -360px;
				display: inline-block;
				height: 30px;
				width: 35px;
			}	
		}
 	}
}

.file-preview {
	float: right;
	background: grey;
	padding: 40px;
}

.view_iframe img {
	max-height: 200px;
	max-width: 320px;
}
	

